<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Доска объявлений</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="karkas">
  
		<div id="header">
			<h2><a href="http://localhost/doska">Доска объявлений</a></h2>
			
      <div id="auth">
        <a class="login-link" href="http://localhost/doska/?action=login">Вход</a>
        |
        <a class="reg-link" href="http://localhost/doska/?action=registration">Регистрация</a>
      </div><!-- /End of #auth -->	
		</div><!-- /End of #header -->
    
    <div id="menu">
			<ul>
        <li><a href="http://localhost/doska/?action=main&amp;id_r=1&amp;id_cat=">Предложение</a></li>
        <li><a href="http://localhost/doska/?action=main&amp;id_r=2&amp;id_cat=">Спрос</a></li>
			</ul>
      <div style="clear:both"></div>	
		</div><!-- /End of #menu -->
    
    <div id="center">
      <div id="side_bar">
		
				<div class="cat-box">
					<h3>Категории</h3>
					<ul class="categories">
            <strong><li>Транспорт</li></strong>
            <ul>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=5">Автомобили</a></li>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=6">Мото</a></li>
            </ul>
            <strong><li>Интернет</li></strong>
            <ul>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=7">Компьютеры</a></li>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=8">Игры</a></li>
            </ul>
						<strong><li>Дом</li></strong>
            <ul>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=9">Мебель</a></li>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=10">Сантехника</a></li>								  
            </ul>
						<strong><li>Сад,огород</li></strong>
            <ul>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=11">Инструмент</a></li>
              <li>- <a href="http://localhost/doska/?action=categories&amp;id_cat=12">Строй матегриалы</a></li>
            </ul>											                                            					
					</ul>
				</div>
				
				<div class="search-box">
					<h3>Поиск</h3>
					<form method="GET">
            <input name="action" value="search" type="hidden">
            <ul class="search-elems">
            
              <li><strong>Поиск:</strong><br>
                <input class="main-search" name="search" type="text">
              </li>
              
              <li><strong>Категория:</strong><br>
                <select name="id_categories">
                  <option selected="selected" value="">Выберите категорию</option>
                  <optgroup label="Транспорт">
                    <option value="5">--Автомобили</option>
                    <option value="6">--Мото</option>
                  </optgroup>
                  <optgroup label="Интернет">
                    <option value="7">--Компьютеры</option>
                    <option value="8">--Игры</option>
                  </optgroup>
                  <optgroup label="Дом">
                    <option value="9">--Мебель</option>
                    <option value="10">--Сантехника</option>
                  </optgroup>
                  <optgroup label="Сад, огород">
                    <option value="11">--Интсрумент</option>
                    <option value="12">--Строй материалы</option>
                  </optgroup>
                </select>
              </li>
              
              <li><strong>Тип объявления:</strong><br>
                <input name="id_razd" value="1" type="radio">Предложение							
                <input name="id_razd" value="2" type="radio">Спрос
              </li>
              
              <li><strong>Диапазон цен:</strong><br>
                От <input name="p_min" class="p_search" type="text">	До <input name="p_max" class="p_search" type="text">
              </li>
              
              <li><input value="Поиск" type="submit"></li>
              
            </ul>
					</form>
				</div>	
      </div><!-- /End of #side_bar -->
      
      <div id="content">
      
        <h3 class="title_page">Объявления</h3>
                      
        <div class="t_mess">
          <h4 class="title_p_mess"><a href="http://localhost/doska/?action=view_mess&amp;id=8">Продаются веселые пингвины</a></h4>
          <p class="p_mess_cat">
            <span><strong>Категория:</strong> Автомобили</span>
            <span><strong>Тип объявления:</strong> Предложение</span>
            <span><strong>Город:</strong> Москва</span></p>
            <p class="p_mess_cat">
              <span><strong>Дата добавления объявления:</strong> 21.03.2013</span>
              <span><strong>Цена:</strong> 10</span>
              <span><strong>Автор:</strong> <a href="mailto:admin@mail.ru">Viktor</a></span>
            </p>
            <p><img class="mini_mess" src="images/Penguins.jpg">Всегда в продаже веселые Пингвины (королевский пингвин, великолепный пингвин, Адели, хохлатый пингвин и другие виды) из европейских питомников. Выкормленные человеком. Абсолютно ручные! Не упустите шанс завести экзотического питомца. 
            </p>	
        </div><!-- /End of .t_mess -->
                        
      </div><!-- /End of #content -->
      <div style="clear:both"></div>
    </div><!-- /End of #center -->

    <div id="footer">
      <p class="footer_text">Доска объявлений &copy; Все права защищены. 2015</p>
    </div><!-- /End of #footer -->
    
	</div><!-- /End of #karkas -->
</body>
</html>